:root {
  --color-principal: #d3e8fb;
  --color-letra: #042458;
}

* {
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  background-color: #f5f5f5;
  /* min-height: 100vh; */
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  height: 100%;
  align-items: center;
}

header {
  width: 100%;
  margin: 0px;
  position: relative;
  height: auto;
  background-color: #bbdefb;
}

main {
  flex: 1;
  max-width: 80%;
}

footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #37474f;
  width: 100%;
  height: 5 em;
}

.logo-principal {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
}

.logo-principal img {
  max-width: 100%;
  max-height: 100%;
}

.contenido-footer {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  flex: 1;
  height: 100%;
}

.footer-primera-linea {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.logo-footer {
  padding: 1%;
}

.logo-footer img {
  width: 150px;
  height: auto; /* Mantiene la proporción de la imagen */
}

.text-footer {
  color: white;
  text-align: center;
}

nav {
  /*establece color de fondo de la linea de los botones*/
  background-color: var(--color-principal);
  overflow: hidden;
  padding: 10px;
}
input {
  /*no muestra el botón de menu */
  display: none;
}
label {
  /*no muestra la etiqueta ☰ */
  display: none;
  float: right;
}
ul {
  /*muestra los botones con la disposición horizontal para notebook */
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  padding: 0;
}

.boton {
  /*determina la propiedad de cada botón*/
  display: block;
  background: #ffffff;
  margin: 10px;
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid grey;
  width: 200px;
  text-align: center;
  border-radius: 20px;
  font-weight: bold;
}

.boxboton {
  display: flex;
  justify-content: space-around;
  margin-top: 0;
  padding: 0;
}
.botoneslink {
  display: block;
  background: #ffffff;
  margin: 10px;
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid grey;
  width: 100px;
  text-align: center;
  border-radius: 20px;
}
.botoneslink a {
  color: #0d47a1;
  text-decoration: none;
}

.boton a {
  color: var(--color-letra);
  text-decoration: none;
}
.logo {
  display: block;
  width: 200px;
  height: 60px;
  text-align: center;
  float: left;
}

.logo img {
  width: 100%;
  height: auto;
  min-width: 150px; /* Tamaño mínimo */
  min-height: auto; /* Mantener la proporción */
}

/* Estilo cuando el mouse pasa encima de cada link del menu
/* li:hover {
  /*determina la propiedad de cada botón cuando se posiciona encima*/
  /* filter: brightness(110%); */ 
/* } */ 
.imgpresentacion {
  width: 50%;
  border-radius: 20px;
  box-shadow: 10px 10px 5px rgb(90, 91, 91);
}

.boxflex {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}
.boxindividual {
  background-color: #bbdefb;
  width: 300px;
  margin: 20px;
  padding: 10px;
  border-radius: 20px;
  box-shadow: 10px 10px 5px rgb(90, 91, 91);
  text-align: center;
}

.fotointegrante {
  width: 100%;
  height: 300px;
  object-fit: cover;
  box-sizing: border-box;
  border-top-left-radius: 20px;
  border-top-right-radius: 20px;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
}
.nombres {
  font-size: larger;
  text-align: center;
  color: #0d47a1;
}
.link {
  font-size: larger;
  text-align: center;
}

.titulo-soporte {
  text-align: center;
  margin: 20px; /* Ajusta el margen según necesites */
}

.descripcion-soporte {
  text-align: center;
  margin: 20px; /* Ajusta el margen según necesites */
  background-color: #d3e8fb;
  color: #042458;
  padding: 50px;
}

.parrafo {
  text-align: center;
}

.galeria {
  display: flex;
  padding: 50px;
  justify-content: space-evenly;
}

.galeria img {
  height: 280px;
  width: 290px;
  border-radius: 60%; /* Bordes redondeados */
}

.div-galeria {
  text-align: center;
  margin: 20px; /* Ajusta el margen según necesites */
  background-color: var(--color-principal);
  color: var(--color-letra);
  margin-bottom: 200px;
}

.titulo-galeria {
  text-align: center;
  font-weight: bold;
  padding: 20px 10px 10px 10px;
  font-size: 18px;
}

.div-actividades {
  padding: 50px;
}

.div-actividades img {
  height: 200px;
  width: 200px;
  border-radius: 60%; /* Bordes redondeados */
  margin-right: 50px;
}

.actividad {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.parrafo-actividad

{text-align: center;
}

.botonmio{
  color: white;
  text-decoration: underline;
  display: block;
  background: #042458;
  margin: 10px;
  padding: 10px;
  list-style: none;
  border-bottom: 1px solid grey;
  width: 200px;
  text-align: center;
  border-radius: 20px;
  font-weight: bold;

}

.botonmio a {text-decoration: underline;
  color: white;
}

.botonmio a:hover { 
  
  color: none;

}

@media all and (max-width: 900px) {
  /*cuando el dispositivo es como máximo de 900px*/

  input:checked ~ ul {
    /*muestra todas el contenido de todas las etiquetas ul */
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    z-index: 1;
    width: 100%;
    background-color: #bbdefb;
  }

  li {
    /*elimina el margen  de cada botón */
    margin: 0px;
    text-align: left;
  }

  label {
    /* dibuja la etiqueta ☰  con formato botón */
    box-sizing: border-box;
    display: block;
    font-weight: bold;
    font-size: 2.5rem;
    padding-right: 3%;
  }

  nav {
    padding: 0;
  }

  ul {
    display: none;
    position: absolute;
    top: 100%; /* Coloca el ul justo debajo del nav */
  }

  .galeria {
    /* flex-direction: column; */
    /* justify-content: space-between; */
    padding: 20px;
  }

  .galeria img {
    height: 70px;
    width: 70px;
    object-fit: fill;
  }
  
  
  .titulo-galeria
  { margin-bottom: 20px;
  
  }

  .actividad
  {
 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .div-actividades
  { 
    display: flex; 
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .div-actividades img
  { height: 200px;
    width: 200px;
    margin-left: 30px;
    
    margin-bottom: 30px;

  }

}



ul li a {
  text-decoration: none;
  color: black;
}


.boton  a:hover {
  color: red;
}





@media all and (max-width: 650px) {
  .contenido-footer {
    flex-direction: column-reverse;
  }

  .contenido-footer div {
    padding: 1%;
  }

  footer {
    flex-direction: column;
  }

  .footer-primera-linea {
    flex-wrap: wrap;
  }

  .materia {
    width: 100%;
  }
}
